<div class="row mt-5" *ngIf="user; else noUser">
  <div class="col-4 col-lg-3">
    <img [src]="user.avatar_url" alt="" class="rounded-circle" />
  </div>
  <div class="col-8 col-lg-9 d-flex flex-column justify-content-center">
    <h2>{{ user.name || "Name not provided" }}</h2>
    <p>{{ user.bio || "Bio not provided" }}</p>
    <p>{{ user.location || "Location not provided" }}</p>
    <a href="{{ user.html_url }}">{{ user.html_url }}</a>
  </div>
</div>

<!-- ERROR TEMPLATE -->
<ng-template #noUser>
  <div class="row">
    <div class="col">
      <div class="alert alert-danger">
        <h3 class="alert-heading">No user to display</h3>
        <hr />
        <p>Make sure the username you searched for actually exists.</p>
      </div>
    </div>
  </div>
</ng-template>
