<div class="row mt-5">
  <div class="col-4 col-lg-3">
    <ngx-skeleton-loader
      appearance="circle"
      [theme]="{ width: '100%', height: 'unset', 'aspect-ratio': 1, margin: 0 }"
    ></ngx-skeleton-loader>
  </div>
  <div class="col-8 col-lg-9 d-flex flex-column justify-content-center">
    <ngx-skeleton-loader [theme]="{ width: '30%' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '35%' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '20%' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '40%' }"></ngx-skeleton-loader>
  </div>
</div>
